[nz-carousel-content] {
  text-align: center;
  // height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  // color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}
